.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Header {
  background: #6ac46a;
  padding: 15px 30px;
  position: relative;
}

.Header .Header__logo {
  max-height: 50px;
  position: absolute;
  left: 70px;
  top: 0px;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
}

.Main {
  max-width: 1020px;
  margin: 0 auto;
  flex-grow: 1;
}

.ProductsList ul {
  display: flex;
  flex-wrap: wrap;
}

.ProductsList .ProductsList__item {
  background: blue;
  display: inline-block;
  padding: 10px 5px;
  border: 1px solid #e1e1e1;
  margin: 10px;
  border-radius: 5px;
}

.Footer {
  background: #6ac46a;
  text-align: center;
  padding: 10px 20px;
}
